<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BandDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>201365B01CE4BAC600F008EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>201365C61CE4BAC700F008EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>201365D11CE4BAC700F008EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
